Draft 03: Max UUID Section Text

# Change Proposal Template

#### Source (Select one.)
-  [ ] IETF Published Draft
-  [x] Work in Progress Draft

####  Change Reason (Select all that apply.)
- [ ] Typos and grammatical issues
- [ ] Bad Reference
- [ ] IETF Verbiage modification (MAY, MUST, SHOULD, SHOULD NOT, etc)
- [x] New Text for additional context
- [ ] Underlying XML Format Update
- [ ] ASCII diagram updates (artwork, code samples, etc.)  

####  Draft Number, Full Section, Name
```
Draft 03, 3. Summary of Changes and new: Section 4.5 Max UUID
```

####  Current Text:
```
3. Summary of Changes
[..truncated..]
   4. Max UUID: A specialized UUID which is the inverse of RFC4122, Section 4.1.7, Nil UUID. See Section 4.5
```

#### Proposed Text:
```
5.5. Max UUID
 The Max UUID is special form of UUID that is specified to have all 128 bits set to 1.

Max UUID Format:
  ffffffff-ffff-ffff-ffff-ffffffffffff
```

---

### Other Supporting information below:
Proposal from #62
