Use base32hex alphabet as alternative text format

I think the 'base32hex' encoding, decribed in the section 7 of the RFC-4648, should be used instead of creating a new one. I know that the algorithm is the same with a different alphabet, but the 'base32hex' already exists for the same purpose.

 

The reason I wanted to change the base32 alphabet is because it makes implementation (particularly as a db primary key) simpler when UUIDs always sort exactly the same when treated as raw bytes.  This holds true for the binary format I'm proposing, but I think it would be even better if it was also true for the text format(s). For some applications sequence is critical, and having the text format when sorted return values in one sequence and the binary another has no up side, only down sides.  In my opinion this outweighs the benefit of using the same alphabet that has been used in the past.

@douglascrockford 's base32 (https://www.crockford.com/base32.html) actually looks like a better alternative to what I've laid out in the draft and has the same properties.  I'm considering updating the draft to use that.

I understand why you wanted to change the alphabet order 'base32' from A-Z2-7 to 2-7A-Z. However, RFC-4648 also describes another alphabet called 'base32hex' that has this char sequence: 0-9A-V. According to section 7 of the document, "a property of this alphabet, which lacks the base64 and base32 alphabets, is that the encoded data maintains its sorting order when the encoded data is compared in bits".

I agree that Crockford base32 is much better than 'base32' and 'base32hex'. In addition to the property of keeping the sort order, it avoids the confusion of similar characters and prevents accidental obscenity. I am not a native English speaker, but I know some obscene words that can be formed with the letter 'U'. There are other extremely obscene words with 'U' in romantic languages ​​like Italian, Spanish, French and Portuguese. There is no need to mention them here.

Before opening this problem, I was thinking of suggesting Crockford coding, but I was afraid it would not be approved, since 'base32hex' already exists for the sort order problem.

I vote for @douglascrockford 's base32 too.

Okay, great.  Unless some better idea comes along I'll update the spec with Crockford's base32 version the next time I do a round of changes.  (I was not aware of the difference between 'base32' and 'base32hex' - thanks for pointing that out.)

I think the key idea here is to balance and weigh the concept of "don't invent something new if the existing standard solves the problem" against "use the best tool for the job".  I'm sure the question of why not use RFC 4648 will come up again during the standardization process, but as it stands now I think the argument in favor of using something that sorts correctly ("best tool for the job") is stronger than the "use the existing standard" argument.

Great! I have no objections. This issue is solved to me.

@bradleypeabody , have you seem [this IETF draft](https://tools.ietf.org/html/draft-taylor-uuid-ncname-00) that proposes a compact representation for UUIDs?

The draft aims to update the RFC-4122 to include a new textual representation for UUIDs based in base64 and base32. The new representation is temporarily called "UUID-NCName".


Interesting - I will definitely look into it further and see if I can connect up with the author to collaborate.

I wrote to Dorian Taylor (the draft author) about the possibility of collaborating.  We'll see where that discussion goes.

Great! 

Should we open this issue again to show that there is work in progress? Or is it better to leave it closed? 

Good point, reopening it. 

I just wanted to add my voice that we should consider base32 encoding for sure, or base58 encoding that just adds both cases of letters. `123456789ABCDEFGHJKLMNPQRSTUVWXYZabcdefghijkmnopqrstuvwxyz` which doesnt include 0s and Os. And it will make UUIDs fairly short.

If we do use base32, we should require it be lowercase, easier to distinguish certain characters in most fonts when they are lowercase.

I do also hope you merge with the NCName draft, the UUID format is a bit verbose and long for most usecases. so a different encoding would be great.

The current proposal does not include an alternate encoding, but let's see how the discussion goes with the IETF.  Personally I am in favor of documenting Crockford's base32 (https://www.crockford.com/base32.html) as a valid alternative encoding.

In this comment I will list my concerns about the base-32 format.

### What algorithm will be used: the one described in RFC-4648 or a general modulo division?

[RFC-4648 algorithm](https://datatracker.ietf.org/doc/html/rfc4648#section-6) is more appropriate for a variable-length bitstream, for example, a variable-length UUID. But it can only be used with some bases (radix): 16, 32 and 64.

The [generic module algorithm](https://cs.stackexchange.com/questions/10318/the-math-behind-converting-from-any-base-to-any-base-without-going-through-base) is useful to encode integers such as `int`, `long`, `i32`, `u32`, `i64`, `u64` etc. It can also be used for (almost) any base (radix): 2, 8, 10, 16, 32, 36, 58, 62, 64 and so on. There are some project on GitHub that aim to be a [universal base-n encoders](https://datatracker.ietf.org/doc/draft-multiformats-multibase/).

So if we choose RFC-4648, we can only encode to base-16, base-32 and base-64. But we can't encode to base-58 or base-62, for example. 

If we choose modulo division, it will not be easy in some languages to encode UUIDs due to the maximum sizes of primitive types. The implementer will have to use big numbers, like [`BigInteger`](https://github.com/ksuid/ksuid/blob/main/src/main/java/com/github/ksuid/Base62.java#L67) in Java, and {make some optimizations](https://github.com/segmentio/ksuid/blob/master/base62.go#L39) if efficiency is needed.

The RFC-4648 algorithm is much faster than the modulo division algorithm, but it produces a completely different result. If you want to generate an RCF-4648 output using modulo division, you must fill the input with bits to complete a group of 40 bits. 

### How to represent UUID as a URN using base-32?

Can we just concatenate the prefix `urn:uuid:` with the base-32 string like this example?
```
urn:uuid:01BX5ZZKBKACTAV9WEVGEMMVRY
```
### Is the alphabet used to encode a UUID UPPERCASE or lowercase?

The Crockford alphabet is UPPERCASE encoded, just like the alphabet in RFC-4648. Will base-32 UUIDs also be encoded in uppercase? I think it must be lowercase to be consistent with the current canonical string representation. Either way, this needs to be present in the draft. Although decoders are case insensitive, if a database field contains mixed cases, the sort order can be compromised: UPPERCASE values come before lowercase in the "C" collation.

Reminder: [ULIDs](https://github.com/ulid/spec) are UPPERCASE.

### Are there other reasons to use the Crockford's alphabet?

The [Crockford's alphabet](http://www.crockford.com/base32.html) is very good for our eyes. But the 'flexibility' to decode 'I', 'O' and 'L' as 'ONE', 'ZERO' and 'ONE', respectively, can cause a small problem: it maps more than one string to a single UUID. For example these 2 strings can exist as different primary keys in a database 'OLBX5ZZKBKACTAV9WEVGEMMVRY', 01BX5ZZKBKACTAV9WEVGEMMVRY. Breaks the uniqueness promise of UUIDs.

Also, a UUID encoded with the Crockford base-32 alphabet can be confused with a [ULID](https://github.com/ulid/spec). 

### Calculate the size of variant-length UUIDs in base-32

The [formula](https://github.com/f4b6a3/uuid-creator/blob/dbc54155c6cb2893eff99876b75ead20382fe331/src/main/java/com/github/f4b6a3/uuid/codec/base/BaseN.java#L134) for calculating the size of a base-32 variable length UUID MUST be included in the draft. We know that a base 32 encoded UUID is 26 characters long (no padding), but we will have to calculate this for each UUID length other than the default length of 128 bits.

### About the optional check symbol

The check character at the end of a Crockford-encoded UUID could be a problem with the variable-length UUID. Is the last character part of the UUID or just a check symbol? 

### About CName representation

I thought it was cool to join forces with the proposal of the CName format. Its author did a good job in my opinion. The algorithm looks a bit complicated at first, but it has good reasons for it.

If it is not possible to work together. maybe it's better not to compete.

### Finally...

If I could, I would vote to leave base-32 out of scope for the many questions that may arise.


Re-opened and linking thread from Draft 03 PR:
https://github.com/uuid6/uuid6-ietf-draft/pull/58#discussion_r809197767

I think we should stay modern and use lowercase, regardless of what is chosen.

Also for base32 we can always use our own alphabet. There are many alternatives, I wrote a base32 library for Dart and implemented multiple variants, including the option for a custom alphabet.

Example:

- StandardRFC4658 - the default standard encoding
  - `ABCDEFGHIJKLMNOPQRSTUVWXYZ234567`
  - Padded with `=`
- base32Hex
  - `0123456789ABCDEFGHIJKLMNOPQRSTUV`
  - Padded with `=`
- crockford
  - `0123456789ABCDEFGHJKMNPQRSTVWXYZ`
  - Not Padded
- z-base-32
  - `ybndrfg8ejkmcpqxot1uwisza345h769`
  - Not Padded
- geohash
  - `0123456789bcdefghjkmnpqrstuvwxyz`
  - Padded with `=`

If you notice some of them are lowercase.

We could also consider Base58.


### About base-32

As for the Crockford alphabet, to adopt a subset of it, we have to list the restrictions in the document: (1) all lowercase letters; (2) no `=` padding; (3) RFC-4648 algorithm (assuming variable-length UUID); (4) with bit pads to form groups of 40 bits (assuming RFC-4648 algorithm); (5) do not decode the letters 'Oo', 'Ii' and 'Ll'; (6) do not confuse with ULID (!).

If the `base32hex` alphabet defined in RFC-4648 is adopted (don't confuse it with `base32`), the only restrictions are: (1) all lowercase letters; (2) no `=` padding. Much easier to explain.

If the motive behind the adoption of the Crockford alphabet is human frendlyness, then that goal can also be achieved with GEODASH, which is already lowercase and prohibits 'a', 'i', 'l' and 'o'.

The other base-32 alphabets are not lexicographically sortable.

### About base-58 and base-62

I was also considering base-58 and base-62 as they are the same size as base-64 strings (no pads). But they MIX uppercase and lowercase letters. It's a problem because one of the reasons for this draft is the lexicographical order. A typical default collation is 'C', which sorts all uppercase letters BEFORE all lowercase letters. It works differently than other collations like 'en_US'. Below is an example using PostgreSQL. Note that the sort orders at the end of the code block are VERY different. The conclusion is that if you want a consistent sort order on the varchar key, don't mix uppercase and lowercase letters.

```sql
----------------------------------------------------
-- CREATING TABLES WITH DIFFERENT COLLATIONS
----------------------------------------------------

-- Standard Collation (ASCII order)
create temporary table tmp_collate_c (
	name character varying(255) COLLATE "C"
);

-- Collation for American Englisth ('natural' order?)
create temporary table tmp_collate_us (
	name character varying(255) COLLATE "en_US"
);

----------------------------------------------------
-- INSERTING VALUES
----------------------------------------------------

insert into tmp_collate_c values ('AAAAAA');
insert into tmp_collate_c values ('BBBBBB');
insert into tmp_collate_c values ('CCCCCC');
insert into tmp_collate_c values ('aaaaaa');
insert into tmp_collate_c values ('bbbbbb');
insert into tmp_collate_c values ('cccccc');
insert into tmp_collate_c values ('AAAaaa');
insert into tmp_collate_c values ('BBBbbb');
insert into tmp_collate_c values ('CCCccc');
insert into tmp_collate_c values ('aaaAAA');
insert into tmp_collate_c values ('bbbBBB');
insert into tmp_collate_c values ('cccCCC');

insert into tmp_collate_us values ('AAAAAA');
insert into tmp_collate_us values ('BBBBBB');
insert into tmp_collate_us values ('CCCCCC');
insert into tmp_collate_us values ('aaaaaa');
insert into tmp_collate_us values ('bbbbbb');
insert into tmp_collate_us values ('cccccc');
insert into tmp_collate_us values ('AAAaaa');
insert into tmp_collate_us values ('BBBbbb');
insert into tmp_collate_us values ('CCCccc');
insert into tmp_collate_us values ('aaaAAA');
insert into tmp_collate_us values ('bbbBBB');
insert into tmp_collate_us values ('cccCCC');

----------------------------------------------------
-- THE RESULTS
----------------------------------------------------

select * from tmp_collate_c order by 1;

AAAAAA
AAAaaa
BBBBBB
BBBbbb
CCCCCC
CCCccc
aaaAAA
aaaaaa
bbbBBB
bbbbbb
cccCCC
cccccc

select * from tmp_collate_us order by 1;

aaaaaa
aaaAAA
AAAaaa
AAAAAA
bbbbbb
bbbBBB
BBBbbb
BBBBBB
cccccc
cccCCC
CCCccc
CCCCCC
```


> The conclusion is that if you want a consistent sort order on the varchar key, don't mix uppercase and lowercase letters.

I agree.  With how common case-insensitivity is in real-world applications, I don't think it would be wise to use a text format that relies on case sensitivity for proper ordering (one of the key things UUIDv6 ad 7 address).

> As for the Crockford alphabet, to adopt a subset of it, we have to list the restrictions in the document: (1) all lowercase letters; (2) no = padding; (3) RFC-4648 algorithm (assuming variable-length UUID); (4) with bit pads to form groups of 40 bits (assuming RFC-4648 algorithm); (5) do not decode the letters 'Oo', 'Ii' and 'Ll'; (6) do not confuse with ULID (!).

I agree but I think the simplicity is we just say something to the effect of:

"Encode every five bits with this alphabet: `0123456789abcdefghjkmnpqrstvwxyz`  If you don't have 5 bits for the last character then fill with zeros.  There is no padding.  When decoding discard final bits that don't form a complete byte.  Encoding SHOULD emit upper case letters as per the alphabet shown.  When decoding, implementations MUST accept either upper or lower case letters. Implementations MAY choose to interpret additional characters per "Crockford base32" or otherwise, as long as it doesn't conflict with the above alphabet."

It's terse and I'm sure will need to be expanded a bit, but I believe it does cover everything and makes it so applications can just use an existing Crockford base32 library for the encoding or just make something with that specific alphabet. 

> (6) do not confuse with ULID (!).

You will notice that if we use 48 bits for the timestamp and move to the var-ver field then ULID is actually compatible both in text and binary format with UUIDv7, with the exception of the requirement of setting var-ver at byte 9 to 0xE7.  While this is not vital to the success of the spec, I don't think it's a bad thing either.


And I'll also add here that I do think we should just pick one additional text format that is as useful as possible (specifically: as compact as possible while being case insensitive, and when treated as raw ASCII bytes sort the same as the raw UUID bytes, and it should be easy and reliable to distinguish from the old hex+dashes format).   We don't want a proliferation of various possible formats, because we would like whatever `ParseUUIDFromString()` functions get written to be simple and unambiguous.

Keeping in mind one of the key goals here: If you were using this as an ID for a database record, and you did `SELECT id FROM x;`, what would you want to see come back for that ID column?  The existing hex format with dashes is just unnecessarily long - that's really the key thing we'd be addressing with this.

Also in some cases there may not be great binary encoding/decoding support built into the database and someone might end up just storing UUIDs in text format as a string in the `id` field, in which case the length of the text format has a direct impact on size and performance, so it "matters" in that case and is not just about aesthetics and preference.


> You will notice that if we use 48 bits for the timestamp and move to the var-ver field then ULID is actually compatible both in text and binary format with UUIDv7

I disagree on this point. Even with the same timestamp size and the same charset, the base 32 strings will be different because the ULID specification uses [modulo operations](https://github.com/ulid/javascript/blob/master/dist/index.js#L67) to encode the 128 bits to 26 characters. See the table below:

```
| algorithm | 01234567-0123-0123-0123-012345678abc | ffffffff-ffff-ffff-ffff-ffffffffffff |
| RFC-4648  | 04hmasr14c0j609304hmaswaqg           | zzzzzzzzzzzzzzzzzzzzzzzzzw           |
| Modulo    | 014d2pe09304hg28r14d2pf2nw           | 7zzzzzzzzzzzzzzzzzzzzzzzzz           |
```


@fabiolimace  Wow, I totally missed that. You're right.  That is really strange - it seems like they prioritized breaking the string representation up into a specific timestamp part and random part, which seems like an odd choice over the simplicity of just assembling the raw bytes and then encoding the whole thing.  They also waste a couple of bits (10 characters is 50 bits, not 48).

Okay, yeah well forget ULID then.  I do think the rest of the approach is sound though.

Would add one thing re base32: `base32hex` allows implementers to leverage standard language features in some languages. For example, in JavaScript, the following code produces `base32hex` text representation:

```javascript
// Assume h40 = higher 40 bits, m40 = middle 40 bits, and l48 = lower 48bits of
// UUID stored as IEEE 754 number values
const txt =
  h40.toString(32).padStart(8, "0") +
  m40.toString(32).padStart(8, "0") +
  (l48 * 4).toString(32).padStart(10, "0");
```

Translating one set of alphabets to another is a trivial job, so the above point shouldn't be the priority. That said, using standardized widely available encoding will contribute to simplicity.

---

BTW, is [the base58 algorithm employed by bitcoint](https://github.com/bitcoin/bitcoin/blob/ee8c99712561bfbe823d9cd787a421b5424a75d9/src/base58.cpp#L87) the generic modulo algorithm? It reads the input byte stream from the most significant to the least, and given this, any base N encoding can be applied to variable-length UUID in a similar way, right?





> For example, in JavaScript, the following code produces base32hex text representation:

Your snippet is perfect.

> Translating one set of alphabets to another is a trivial job

Yes. Any utility like [`tr`](https://www.baeldung.com/linux/tr-command) or [`translate()`](https://www.postgresqltutorial.com/postgresql-translate/) could be utilized to translate a `base32hex` string to Crockford charset (or any base-32 charset).

> BTW, is the base58 algorithm employed by bitcoint the generic modulo algorithm?

I did not know that. Part of what I said above is false. Thanks for the correction.


> Part of what I said above is false.

Wait. Perhaps, I am wrong! On second thought, the modulo algorithm generally reads from the most significant byte if implemented using a byte array. And you are correct that the modulo algorithm does not produce lexicographically ordered results if extra bytes are appended at the bottom. For example:

```javascript
0xffff_ffff_ffff_ffff_ffff_ffff_ffff_ffffn.toString(36);      // 'f5lxx1zz5pnorynqglhzmsp33'
0xffff_ffff_ffff_ffff_ffff_ffff_ffff_ffff_ffffn.toString(36); // 'laebsi7rpgfoz4oncaub1gcx0flr'
```

But at the same time I am wondering if there is a technique to utilize the base36 encoding in a dictionary-ordered manner, such as something like the following (more or less broken) example where a 128-bit UUID is encoded as a larger 144-bit integer and truncated to the 25 character representation:

```javascript
0xffff_ffff_ffff_ffff_ffff_ffff_ffff_fffe_0000n.toString(36).substring(0, 25);  // 'laebsi7rpgfoz4oncaub1gcwx', 128-bit UUID
0xffff_ffff_ffff_ffff_ffff_ffff_ffff_fffe_0001n.toString(36);                   // 'laebsi7rpgfoz4oncaub1gcwxmgx', UUID with 16-bit extension
0xffff_ffff_ffff_ffff_ffff_ffff_ffff_fffe_00ffn.toString(36);                   // 'laebsi7rpgfoz4oncaub1gcwxmnz', UUID with 16-bit extension
0xffff_ffff_ffff_ffff_ffff_ffff_ffff_fffe_ffffn.toString(36);                   // 'laebsi7rpgfoz4oncaub1gcwz11b', UUID with 16-bit extension
0xffff_ffff_ffff_ffff_ffff_ffff_ffff_ffff_0000n.toString(36).substring(0, 25);  // 'laebsi7rpgfoz4oncaub1gcwz', 128-bit UUID
```

While base32 schemes are easy options, I am also interested in base 36, 58, and 62 because they produce more compact format. I've been just thinking like, if a new text format should be defined in the new spec, we should seek for several options and pick the best one, rather than choosing an easy option.


> While base32 schemes are easy options, I am also interested in base 36, 58, and 62 because they produce more compact format. I've been just thinking like, if a new text format should be defined in the new spec, we should seek for several options and pick the best one, rather than choosing an easy option.

Earlier in this discussion we found that going above base32 forces us to include symbols or capital letters. Mixing upper and lowercase letters can cause problems in database sorting and retrieval. 

Base32 is the safest. We could push to base 36, as that will just include all letters and numbers, but then there could be confusion between `i` `l` `1` `0` `O` for human readability and friendliness.

Right now I am personally leaning to Geohash without padding as the ideal character set base32.



> Mixing upper and lowercase letters can cause problems in database sorting and retrieval.

I was aware of this discussion. I was just concerned if we'd missed more important needs. For example, the most compact form would be preferred when UUID is encoded in JSON and transferred over the network, and perhaps that is one of the most frequent and large-scale use cases of textual UUID nowadays because JSON has no way other than relying on text, while RDBMS can fall back on binary or change the collation settings. Although UUIDv6 and v7 are focused on convenience as a database key, the text format is applicable to all versions; therefore, the priority here isn't immediately obvious.

Secondly, I don't really see the value of allegedly human-friendly alphabets over the standardized `base32hex` when we already have the very human-friendly 8-4-4-4-12 format. Crockford's, etc. add some complexity to the implementations and the specification while the value proposition is unclear IMHO. Or, alternatively, if we depart from `base32hex`, why don't we go further to more sophisticated approaches like NCName and base 36 to pursue better features?

P.S. Personally, I like base 32 schemes because they are simple and easy. I am just trying here to challenge them as an input to the discussion because we need strong arguments to choose one over another. Plus, the JSON use cases doesn't seem negligible.

You know, the more I think about it, the more I think human readability shouldn't limit us so much. 90% of the use-case for UUIDs is for unique user IDs, mostly live in databases, urls, cookies, etc. but a user rarely needs to read or dictate them.

As for developers, in those situations, they will be copy and pasting UUIDs, not dictate, or transcribing them.

With that thought, we should maybe focus on base 58 or base 62 (which is just base64 without the 2 symbols), without padding ideally. These will make shorter UUIDs and still be sortable.

As for databases, I agree that you can change the collation settings. Also most usage of this will be in new systems, or new development, so they will just either be using a more modern collation default, or know to set it to something else.

> Crockford's, etc. add some complexity to the implementations and the specification while the value proposition is unclear IMHO

I agree that human-readability is not necessarily at the top of priority list.  But, my logic on it was essentially: 
* Case sensitivity can cause problems with sorting, and some use cases may not function correctly with case sensitivity (DNS records, email addresses, existing db columns using case insensitive collations, and I'm sure others)
* Base36 doesn't save us much space and is harder to implement.
* If we're going to use a base32 alphabet, why not use one that is a bit more human friendly.  I.e. given the choice between the different base32 alphabets, the Crockford one sorts correctly as raw bytes and is "a bit more human readable".

So it seemed a good middle ground.

> the most compact form would be preferred when UUID is encoded in JSON and transferred over the network, and perhaps that is one of the most frequent and large-scale use cases of textual UUID nowadays because JSON has no way other than relying on text

This is a really good argument.  My only objection is that I'm not sure it outweighs the the bullets above.

Also keep in mind that per the JSON spec, binary data is encoded as base64, so technically the raw binary bytes could be transmitted in JSON as base64 and that's not our doing, just part of how JSON says to encode binary data.  That would be pretty confusing though, one text representation for JSON and then another everywhere else.  But maybe this cuts to the core issue: we basically have to decide which is more important:

* shorter IDs (more compact)
* case-insensitive (longer, but works in more situations - DNS, email addresses, etc.)
* have both and let implementations chose (parsing requires knowledge of which format was chosen)

If we did provide e.g. a base64 text format and a base32 text format, then length could be used as an indicator of which one was chosen, but it could also be brittle and will tick off all of the "I want to add more bytes to end of my UUIDs because it's not enough entropy" people and likely break their custom solutions.

Personally I think the entire concept of "parsing" a UUID is unnecessary complication, but that opinion is very limited to the scope of my own personal experience, and there are a lot of people who are used to the prior UUID versions and will probably want to do this no matter what I say.  My point being: If people just treated UUIDs as opaque strings, then it wouldn't matter what the encoding format was, and we could safely provide multiple options.

> we basically have to decide which is more important:

Agreed.

Perhaps, there are a considerable number of use cases that need case-insensitive encodings and a considerable number of use cases that need compact encodings, respectively. If the standard misses one set of needs, many application-specific encodings might emerge to meet the needs. Then, it would be helpful if the RFC specifies both a case-insensitive format and a shorter format to ensure some levels of interoperability across many UUID libraries.

In this scenario, Base 36 can be attractive as a case-insensitive format if Base 58/62 is employed for the shorter encoding because they are essentially the same technique. If we go for Base 32 for the case-insensitive side, then Base 64 is a more natural and consistent choice for the short form. Users of UUID libraries will be much happier with the former pair, while library authors will be happier with the latter pair. Judgement is needed.

> "parsing" a UUID is unnecessary complication

IMO "parsing" is a must if there are multiple encodings including 8-4-4-4-12 because without parsing we can't even canonicalize UUIDs in different encodings automatically!

> without parsing we can't even canonicalize UUIDs in different encodings automatically

This brings up an interesting point, but is along the same vein: The way I generally think about unique identifiers is that there should, ideally, be one canonical form that you use throughout a given application.  E.g. if you use base64, then that ID should be base64 everywhere, and you essentially use the textual format for everything.  This generally leads to everything being a lot simpler.  But, I realize it has downsides as discussed above in that one could conceivably want to use a different format for a different transport, because they do have different tradeoffs - smaller vs easier to read and possibly others.

I'll think about this more and see if I can post something more helpful as a followup. But it definitely occurs to me that from a practical standpoint I have on a number of projects just completely ditched the binary form of the UUID and used a textual string exclusively and without any encoding whatsoever.  This was less space-efficient because everything is ASCII and not binary, but it was also much easier to deal solely with IDs as strings and not even try to parse them, even if it wastes a few bits during storage and transmission.  I'm not saying this is ideal for all cases, but I'm just trying to see if there is some basic core concept we're missing here about this correlation between the raw bytes, the textual format(s), and when we should be recommending each is used, and the fact that people can also encode the raw bytes however they want - for better or for worse.


My personal choice is base-32 with `base32hex` charset. It's short, simple, and sortable. 

If something shorter than that is needed, but the sort order is not important, `base64url` is my preferred encoding. Both are from RFC-44648. 

I don't want to mess up this long thread anymore. But if human sympathy is the reason for preference for Crockford and base-58 charsets, I venture to propose a base-52 or base-48 alphabet. Chances are that it will fail, but I'll try.

I don't want to mess up this long thread anymore. But if human sympathy is the reason for the preference for Crockford and base-58 charsets, I venture to propose a base-52 or base-48 alphabet. 

Chances are I will fail, but I will try. Tell me what you think.

### Base-52

These are the features of base-52:

*   All letters: 'A-Za-z';
*   Simple Regex: /[A-Za-z]{23}/;
*   23 chars long (only 1 more than base-64);
*   It looks like this: "VPfYDYZXVvyfMRZxQGSmTka";
*   Sortable if collation 'C' is utilized (ASCII table order);
*   Thre's no confusion with 1, l, I, 0 and O (but the confusion with I and l continues);
*   Can be used in contexts where the identifier can not start with digits (the main objecte of [Taylor's UUIDD NCName](https://datatracker.ietf.org/doc/html/draft-taylor-uuid-ncname-01));
*   Programmer-friendly: double-click-safe, ALT+left-safe, and ALT+rigth-safe (it's boring when we can't use these shortcuts).

### Base-48

If human frendlyness *the most important thing*, we could remove 4 letters from base-52 to form a base-48 charset. The letters to be prohibited are: I, l, U, u.

The new base-48 has the same features of base-52 above, with 2 additions:

*   Theres no confusion with I and l anymore;
*   Helps to minimize language abuse (a strong point for Crockford base-32 for some).

But it drops the beauty of 'A-Za-z' (I can live without it).


I have some feeling that other encoding types could be better described in another spec than this one.

> I have some feeling that other encoding types could be better described in another spec than this one.

And just to mention my position on this: This document has been work in progress for approaching three years now. The initial work started a couple years before that.  One of the primary goals is to make a spec useful for databases and people writing applications which store UUIDs in databases.  If after all this work we don't cover what the text format(s) is/are, I think that greatly reduces the usefulness of the whole project.  One way or another, I would really like to see this sorted out so someone reading the doc and going "okay I'm going to implement these new UUID format, what do I do when I implement the String() method" has a good answer.

@bradleypeabody wrote:

> Also keep in mind that per the JSON spec, binary data is encoded as base64, so technically the raw binary bytes could be transmitted in JSON as base64 and that's not our doing, just part of how JSON says to encode binary data.

I don't see this; can you provide a link?

> Base-52

Base-52 is actually an interesting option to me because I am slightly concerned about leading zeros that will always appear in UUIDv7 strings for several centuries. Some applications do not handle zero-starting numerals very well (notably, Excel's default CSV handling). It shouldn't matter a lot because a UUID string is rarely composed of 0-9 only, but base-52 and base-58 schemes completely address the potential leading-zero issue.

> I have some feeling that other encoding types could be better described in another spec than this one.

I used to have the same feeling but now I'm more or less convinced that the text format is an urgent issue worth being addressed in the standard. I don't believe the new RFC should aim to deprecate or supersede the 8-4-4-4-12 format, because it is very widely used right now and is so distinctive and human-friendly that everyone immediately recognizes it as a UUID string. But imagine a world where UUID libraries _generally_ support multiple encodings in common and applications can choose the ones that fit to their needs. It would be so nice! The new RFC can make this happen.

This project has been primarily advertised to fix the sort order issue and thus many people believe the text format is out of scope. Perhaps, some sort of "rebranding" is necessary to draw attention of broader audience to text formats.


> ### Base-52

> ### Base-48

Oh, I like both of these. I like 52 but can see human readability to be a problem if that is a priority. But I rarely find U u V v to be confusing. So maybe even a Base50?. Throw in 2-9 and get a base 58 variant. 

But I do like the cleanliness of not dealing with numbers.

> And yes, "just use the old hex format" is an answer, but I don't believe it is the optimal one.

> I'm more or less convinced that the text format is an urgent issue

@bradleypeabody @LiosK Can you elaborate on these comments?  I'm still not convinced a good enough case has been made for additional formats to overcome the advantage of having a single, canonical text format (albeit an imperfect one.)

A single, canonical format makes it unambiguous how UUIDs should be transported in text-based formats.  That's a really nice trait to have when designing a system or API that interfaces with unknown systems.  (It also keeps things simple for library authors, like myself).  As soon as we add a new text format - _any_ format - we ~~break~~ complicate matters in that regard significantly.

@cbandy My bad, this approach of encoding binary data as base64 appears to just be a convention of [some json encoders](https://pkg.go.dev/encoding/json#Marshal), not a standard.

@broofa I hear you on the simplicity of just having one text format.  To understand the pain I am trying to  address, let's look at an example:

* I want to make a website that sells widgets, including a website and a shopping cart. **Each of the "things" here which are created dynamically, need an identifier.**  Initially, this is all on one server, so I could just use the "auto-increment" feature of my database, but instead I'd rather just have one way of doing unique IDs that I can use everywhere, even when my project scales to multiple servers and identifiers being generated from various uncoordinated sources.
* So I google around and find there is a **new UUID spec,** intended to work well for database PKs and address the above concerns, has been thoroughly debated and vetted by intelligent people and finally standardized, excellent.
* **Every user gets a unique (UUID). As well as every shopping cart, every order, every order line item,** as well as related things like **customer support tickets** and so on.
* **It starts to scale,** and now I have **multiple independent sources of UUIDs** (multiple web servers inserting into the same database or set of databases)
* **The database would, ideally, decode these IDs from their text form and save space** and in some cases speed by storing just the raw 16 bytes.  However, as long as the text form sorts correctly, this is not necessarily the end of the world for me.  Storing the IDs as text has a 38% size penalty (every 5 bits becomes 8) for the ID field, and probably some small performance penalty due to this size also.  But, that said, it doesn't really have any other impact, so **I would consider this a "nice to have", an optimization if I can get it**.  Otherwise I'm dumping the ID as text in the database and forgetting about it.
* I would like email integration so we can easily keep track of support tickets by **having the ticket number be in the email address (e.g. [support-case-id]@support.example.com)**
* I also have a number of HTTPS endpoints that use the ID in the path component, and so I'd like to be able to just **drop the ID in an HTTP path without having to worry about encoding issues** (not vital, but nice to have).
* A new fancier version of this widget has IoT capability and sends data in via wifi or in some cases cellular/mobile network.  So far we have been content to just pass everything around as text, but all of sudden the work we're doing is much more sensitive to size (because someone, either me or the customer, end up paying by the byte/kilobyte), so we want to use a binary format to save every byte we can.  In this case, the mapping from text to binary and back escalates from a "nice to have" to a "makes a big difference".
* I also have some cases where I want to **put some of these UUIDs in a domain** (DNS record).  For example, while debugging one of these IoT devices and it's actively connected, it would be great to assign it's IPv6 address to a DNS record so I can reach it as [widget-uuid].devices.example.com.
* Another case that comes up is certain types of devices start generating a lot of data, e.g. location and sensor information transmitted from widget to server hundreds or thousands of times per day.  In this case, if I have thousands of devices, generating a thousand records per day, running for years, we're talking about on the order of billions of records.  To manage this, I start creating a log **database table that uses the widget's ID.**
* I also need to back this data up, so I end up creating a file with a dump of the raw data for a given widget, and this **file has the widget's ID** in it also.

The above general scenario, while some of the elements may be slightly contrived, more or less echos the story of thousands of startups or other growing businesses.  As you can see, if you have a good ID generation pattern, these IDs can end up in all sorts of places/scenarios.

Here's my analysis of what happens to the above with scenarios of different text formats:

**Base32**

* Since base32 is case insensitive, and doesn't contain any non-alphanumeric characters, it works in all of the above cases.
* If we go with the Crockford base32 flavor, it means a bit less incidence of swear words showing up in URLs, etc.
* The main down side is it is less space efficient than some other formats. (38% space increase over binary)

**Base64**

* Better space efficiency (25% space increase over binary)
* But the cases that require case insensitivity break (DNS, email addresses, and depending on the environment database tables and files possibly)
* The two non-alphanumeric characters can create problems.  E.g. if it has a "/" then it conflicts with the path separator in file names and URLs.  Other typical choices include "-" cannot be used in SQL table names, and "_" cannot be used in DNS.  "+" has semantic meaning in paths, and also is not allowed in DNS.   All of these problems can be worked around, but I'm just trying to show how many little random problems pop up around these other characters (as case sensitivity as well).

**Base52**

* Not sure of the exact space efficiency but it's between base64 and base32.
* Since there are no non-alphanumeric characters those don't cause problems.
* But it still has the case sensitivity issue (DNS, email and any other case insensitive scenarios break)
* Increased implementation complexity.  (I'm still not clear on how you implement an encoding like this which is not bit-aligned - does this mean one needs to treat all 16 bytes as a 128-bit integer and do a module on the whole thing? Can you even do such a thing in languages like JS?  How difficult is it?)

**Hex**

* Worst space efficiency (56% space increase over binary).
* Every person who looks at the ID asks "why is this so long?".  And so instead of just using the existing ID everywhere as outlined in the example above, you'll likely end up inventing a new ID format just so you can get around the fact that what could have been 26 characters (base32) is now 36.
* Most cases work above, except the "-" may be problematic for example if the ID is used in a database table name, since "-" is a minus symbol in SQL.

**Allow Multiple Text Formats**

Because of all of the tradeoffs, it's easy to say let's allow multiple formats.  However, this creates a new set of problems: It means any place we do actually need to parse the text format will need to also know what format is intended.  Since one important theme from the above is space efficiency, and most applications will want to just pick one format and stick with it if possible, trying to carry the format info around (e.g. with another field indicating the text format sent along with the data, or some sort of prefix, e.g. "ub64:UUIDB64ENCODEDHERE_-") - doing this sort of thing doesn't make sense if we're trying to keep IDs short.

So in practical terms, I think we either need to:
1. have one text format, or
2. if we allow multiple, you have to be able to reliably tell the difference between them while parsing (and unfortunately **you can't tell the difference between base32 and base64 by looking at them** - _except_ by length, and which raises a different question about how brittle that might be or what happens if someone decides they want to add more bytes for entropy - yes, not part of the spec, but also a case that has been mentioned many times)

**Recommendation**

**The above analysis is why my recommendation is still: use Crockford base32 as the default for new UUIDs (old hex format is still allowed), and then make Parse() implementations look for a "-" and parse as hex if found, or Crockford base32 if not.**  This effectively addresses every concern listed above, at the expense some space (in practical terms, it means UUIDs in text form will be 26 bytes long instead of 20 (base64), but at least it's not 36.

And, by **ensuring we have a reliable path to convert between binary and text,** we make it so if we really, really care about size (e.g. wire format over expensive transmission methods, or the cumulative effect of size efficiency while inserting billions of UUIDs into a database over time) - for these cases we're ensuring that you can use the binary form easily because your UUID.Parse() method just works as you would expect instead of having ParseBase32 and ParseBase64 and no easy way to know in your application when you should be using which one.

It's also worth noting that a UUID is, at the end of the day, just some bytes.  So if someone really disagrees with the above decides that base64 or base52 is really the thing for them, there is nothing stopping them from just doing `Base52Encode(NewUUID())`.   All we're really trying to decide here, is what should String() and Parse() do in a UUID library that supports this new spec.

P.S. Sorry that was so long, but I think it's an important analysis that hadn't been clearly stated before.

> Increased implementation complexity. (I'm still not clear on how you implement an encoding like this which is not bit-aligned - does this mean one needs to treat all 16 bytes as a 128-bit integer and do a module on the whole thing? Can you even do such a thing in languages like JS? How difficult is it?)

The only way I know of is to treat all 16 bytes as a 128-bit integer and do successive modulo operations. I have no idea how to encode other bases than 16, 32, and 64. And I tried.

In Javascript it is necessary to use `BigInt`. If anyone is interested, an implementation in Python and JS can be found [here](https://gist.github.com/fabiolimace/6de4b8cc44e7a488360dd6a0988f70be). JS code can be tested online [here](https://jsfiddle.net/nuxd5e8y/). 

@fabiolimace, please take a look at [my quick code](https://github.com/LiosK/base-k/blob/6f4d53db778cc2941f7c94720d898ebcf9c0f637/src/index.ts) that supports base-2 through base-128 modulo encoding/decoding of byte arrays of any length. This algorithm works in any language that supports arrays and numbers. This code can be simpler if it supports a single digit set and 128-bit input only; I will paste a simpler extract later.

@broofa,

Text format is definitely a problem that has been damaging to the usefulness of UUID. Most of recently emerged UUID alternatives utilize shorter formats than 8-4-4-4-12. This fact exemplifies the pain application developers feel about UUID. Without a better text format, more and more users will run away from UUID.

That said, I have a very different view on this topic than @bradleypeabody's. I believe the new RFC should _extend_ the old one and should not (or doesn't need to) deprecate or substitute the original RFC. Accordingly, I believe the new RFC should be clear that 8-4-4-4-12 is still a single canonical text format that every implementation MUST support. 8-4-4-4-12 has been and will be widely used without any problem in many applications. Such applications include very conservative use cases that need decades to switch from one format to another. For example, I don't believe UUID strings that show up on UEFI's GPT config screen should be changed to Crockford's or something. The new RFC should not confuse such users or leave them behind; otherwise, the new RFC might be seen as a folk project that effectively divides the existing UUID community and ecosystem.

But at the same it would be very valuable if the spec would recommend several text format options that implementation SHOULD support. Currently, application designers have to invent application-specific text format by themselves if they don't like 8-4-4-4-12. It's actually a very difficult task for modern applications because they employ multiple languages (e.g. JS/Swift/Kotlin for frontend, Go for backend, SQL for database) and have to find an interoperable library for each of such languages. If the UUID spec specifies some alternative formats, then UUID library authors can work on this task on behalf of application developers. UUID libraries will gradually implement features to generate/parse/convert multiple UUID formats, and at some point in the future when UUID libraries _generally_ provide multi-format functionality, application designers will be able to choose text formats that fit into their needs.

This definitely complicates UUID libraries but simplifies applications, and since few people actually write UUID libraries while tons of people rely on them, the overall positive impact will be enormous. Plus, library authors are generally supposed to be subject-matter experts in the area of algorithms and bit/byte handling, they will do a good job. That's why I am leaning towards providing multiple (say, base 36 and 62) feature-rich if complex encoding schemes.

@LiosK excellent! You did it!

We now have an encoder for multiple bases, multiple character sets, and multiple data lengths.

If an alternative base is chosen, a short section should be added to the specification with a C version of the code.

I was curious what the probability is that a four-letter word occurs in an base-n UUID series. So I created a loop to count the matches. If you are also curious, check out this [Gist](https://gist.github.com/fabiolimace/72a529c4b219dd9cfe4d96227da9eb8a).

This is related to the prohibition of the letter 'U' in Crockford encoding. More matches could be interpreted as more accidental bad words.

This could be done by calculating the probability for each encoding, but I'm lazy :)

Fantastic discussion group!

Let me summarize key bullets I pulled out of the thread so I can merge some text for review:
- Keep 8-4-4-4-12, a MUST implement
- Allow any implementations to convert base UUID 128 bit `int` into any ol' Base-## (air on the side of inclusive vs exclusive)
- However, add guidance verbiage towards Base-36
- Provide guidance references on the main methods like base32, 36, 64, etc. etc. 
- Provide guidance on converting RFC4122 UUIDs; more-or-less bullet 3

---

Did I miss anything?

@kyzer-davis Here's my summary on this:

* Keep 8-4-4-4-12, yes, for sure
* I do not think the "let people use any base they want" approach is viable here in terms of what is actually specified.  The problem is for anyone implementing a UUID library they have to know what format to parse inside of a Parse() function.
* People can still encode a raw UUID value any way they want for their application, there is nothing that prevents them from doing it, it's just custom to their app.  So having the spec tell people they can encode in any one of various ways doesn't really provide any material benefit - they can already do that.
* So whatever format(s) are chosen I strongly feel have to be able to be able to be reliably discerned by just looking at the value.  Lots of things will break if we make it so nobody can implement a Parse() method because there's no way of knowing which of several formats was selected during encoding.
* The easiest way I see to do this is to pick one additional format which does not contain the "-" character, making distinguishing from the old hex format easy and reliable.
* For the one format we pick, I've outlined a number of specific cases above where various punctuation doesn't work, as well as the use of upper and lower case.  The idea behind this is "make it work for as many cases as possible".
* This leaves base32 and base36 as options.  Of the two, base32 is more common and easier to implement.  Also, base36 does not save us much space, I think it's maybe two characters shorter in terms of the encoded output.  Given two encodings that are approximately the same, I believe we should use the simpler one.
* If we are going to use base32, and a goal is "as useful as possible as-is in as many situations as possible", then why not go with the Crockford alphabet which is a bit more user-friendly (lower likelihood of homonymic confusion or random data producing offensive text).  Most base32 encoders have a way to choose the alphabet.  Also note that the default alphabet as described in [section 6 of RFC4648](https://datatracker.ietf.org/doc/html/rfc4648#section-6) (which is what people typically mean by default when they say just "base32") does not work because it does not sort the same as the binary input, unfortunately.  The "base32hex" alphabet is a viable option, but I just don't see the advantage over Crockford's alphabet.
* If we want to also include text that says something to the effect of "applications which need to use other encodings or alphabets MAY of course do so but in this case the text would be application-specific and only the binary form utilizing the UUID spec" - I don't see a problem with mentioning that.  The goal here is not to provide the one-true-way of encoding UUIDs in text that will work for everyone, just a way that is much more useful than the hex format and will work for as large a swath of applications as possible.

That's my analysis.  If there are specifically challenges to the logic above, then I'd like to get those specifically listed out here so we can nail this down.

I agree that the spec should recommend some specific encodings and alphabets so UUID library authors can implement such formats in an interoperable way. Whether to recommend a single alternative format or multiple alternative formats is in question. While ULID utilizes Base-32 and is so influential, many UUID alternatives employ shorter Base-62 and Base-64. For this reason, I am not really convinced that a single alternative text format can sufficiently address issues that have driven many people for UUID alternatives. Also, from an implementer's point of view, supporting multiple formats doesn't seem to be a big deal as long as the multiple formats use the same algorithm (e.g. base-32/64 pair, base-36/62 pair).

@LiosK Keep in mind that if we did select just one text format to be indicated in the specification, this does not mean that other formats cannot be used by applications for their own purposes.  After all, for most applications it's just an ID and there's nothing inherently wrong with someone using some other text format if that's what's best for their application.  Also realize that even if the spec did say you can use either base64 or base32, there would still be cases where people want more density, or don't like having digits in the alphabet, etc, etc. - it's simply not possible to please everyone and there will be tradeoffs. I would also be fine with some text in the spec which describes the tradeoffs here and suggests base32 crockford as the default and clearly says that there may be other cases for specific applications where some other encoding is warranted and there is nothing that prevents them from doing this.

That said, please help me understand this point:

> from an implementer's point of view, supporting multiple formats doesn't seem to be a big deal as long as the multiple formats use the same algorithm (e.g. base-32/64 pair, base-36/62 pair).

How would the implementor of a library update functions like [String()](https://pkg.go.dev/github.com/google/uuid#UUID.String) and [Parse()](https://pkg.go.dev/github.com/google/uuid#Parse) to accommodate both formats?  Please describe the algorithm you suggest for this.





> How would the implementor of a library update functions like String() and Parse() to accommodate both formats? Please describe the algorithm you suggest for this.

The specification could define two things:

*   **A standard encoding**: Crockford's base-32
*   **A standard algorithm**: @Liosk 's is a good candidate because it works with any array length.

These standard methods could by the specification:

*   Parse(): uses the standard encoding
*   String(): uses the standard encoding

These *alternative* methods could by the specification:

*   Parse(base|alphabet): uses the encoding chosen by the user, given by base number or alphabet
   	-   Note that when you give the alphabet, you implicitly give a base too
    -   This is similar to:
        -   Java method [`Integer.parseInt(string, radix)`](https://docs.oracle.com/javase/7/docs/api/java/lang/Integer.html#parseInt(java.lang.String,%20int))
        -   Javascript method [`parseInt(string, base)`](https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Reference/Global_Objects/parseInt)
*   String(base|alphabet): uses the encoding chosen by the user, given by base number or alphabet
   	-   Note that when you give the alphabet, you implicitly give a base too
    -   This is similar to:
	    -   Javascript method [`Integer.toString(integer, radix)`](https://docs.oracle.com/javase/7/docs/api/java/lang/Integer.html#toString(int,%20int))
	    -   Javascript method [`Number.toString(radix)`](https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Reference/Global_Objects/Number/toString)


The implementation question gets tricky, especially if the spec is defining (or “suggesting”) the API.  for example in JavaScript passing a format arg rather than having a separate method will prevent bundles from doing tree-shaking.

This means all bundled code will have to include the base-x encode and decode implementations, even if it’s never used.


@bradleypeabody,

My point in the previous two comments is that the standard can help library authors write libraries that work together. If the spec defines one alternative format, then libraries will _generally_ support one alternative and dependents can choose from one. If the spec defines two alternative formats, then libraries will _generally_ support two alternatives and dependents can choose from two.

Yes, applications can do whatever they want, but if they find UUID doesn't meet their needs, they might simply go away from it and UUID will lose customers. "Who is the customer" might be a considerably arguable question, but I think it's sufficiently sensible to see those who need a compact format as customers because of the fact that many UUID alternatives did choose that way.

Perhaps, we are aiming slightly different goals, @bradleypeabody. You actually do not mean _alternative_; you want Crockford's to be the single new canonical encoding of UUID (or something close to that), don't you? I wouldn't really agree to that idea. IMO the new RFC should not replace or deprecate the original RFC. In this sense, `String()` must keep returning 8-4-4-4-12, but still the new RFC can help libraries implement `BaseXXString()` methods in addition.

Parsing may be an issue, but detection by length works. This strategy is also viable with variable-length IDs [if designed properly](https://github.com/uuid6/uuid6-ietf-draft/issues/59#issuecomment-1049894817).

As for the implementation, the following simple C function supports conversion from/to any bases from base-2 to base-256 (aka byte array) using the modulo algorithm. Adding encode/decode functions that map numbers from/to characters is trivial. You can find [a complete base36 example](https://gist.github.com/LiosK/ffa30d6fcac41f17e7342ae62487975c) that also illustrates how the following code can be optimized.

```c
/** Converts a digit value array in `src_radix` to that in `dst_radix`. */
int convert_radix(uint8_t *dst, const uint8_t *src,
                  int dst_radix, int src_radix,
                  int dst_size, int src_size) {
  for (int i = 0; i < dst_size; i++) {
    dst[i] = 0;
  }

  for (int i = 0; i < src_size; i++) {
    uint_fast32_t carry = src[i];
    for (int j = dst_size - 1; j >= 0; j--) {
      carry += dst[j] * src_radix;
      dst[j] = carry % dst_radix;
      carry = carry / dst_radix;
    }
    if (carry != 0) {
      return -1; // dst_size too small
    }
  }
  return 0;
}
```

Base-32/64 family can be implemented similarly by defining another `convert_radix()` function. You can find [a JS example in a previous comment](https://github.com/uuid6/uuid6-ietf-draft/issues/2#issuecomment-1059859452). So providing base-36/62 pair or base-32/64 pair is trivial, but mixing the two (e.g. base32/58) requires two `convert_radix()` functions and thus simply doubles the work.

@LiosK 

> You actually do not mean alternative; you want Crockford's to be the single new canonical encoding of UUID (or something close to that), don't you? 

I think this question cuts to the core issue here.  Yes, I was thinking that we would generally be asking library authors to change the implementation of functions like String() for a UUID to return a Crockford base32 value.  But, looking this over, it's possible this is too big of a change to ask people to do.

My general thought on it is that this 8-4-4-12 format is just, generally speaking, an inefficient and not-useful format.  But I readily admit this is just an opinion and I'm sure there will be plenty of people that disagree, citing for example the readability of hex as an advantage (even though I don't get why this is important for a UUID, but still - it's all a matter of view point).

If there were strong support from library authors for making this change, I think it could work.  But so far I suspect it would just be a bunch of people yelling at me about why this change was made, and I don't personally have the time or energy to contact the various library authors and try to gain support for the idea.  So then the question is what other options are on the table aside from changing the default format.

And as we look at that, @broofa brought up a really good point on this as well:

> This means all bundled code will have to include the base-x encode and decode implementations, even if it’s never used.

I think this is the main disadvantage of the "let people use whatever base they want" approach - it makes every implementation more complicated when only a relatively few will want it.

I'll post my idea on an alternative here next as a separate entry.

---

And on a separate but related note, I'm also seriously considering writing a set of C function declarations to include as an appendix which would essentially be an example of what an API could look like, and which functions would make sense to combine vs keep separate etc.  I feel like that, while still just being only a recommendation, could at least provide library authors with a quick way to understand how all this is intended to be used.  I wouldn't want people to take this as some sort of rule about what code they could/couldn't write, but I would like to provide a quick answer to the "so what the heck are you actually expecting me to do with all this?" - it could be really helpful.  Such functions could clearly be labelled as functionality as part of the core spec ("MUST" items) vs additional things that are nice to have ("SHOULD", "MAY" and other "not part of the spec but you can do whatever you want here" things).  I'll try to hammer this out over the next few days and make a separate issue.

So if we don't change the default format, what about something like this (rough paraphrase of text section):

## Text Format

The text format (indicate 8-4-4-4-12 format from RFC4122) remains the default format.  The default string conversion and parsing functionality for UUIDs remains as is.

Additionally, implementations MAY choose to implement a format which we'll call "compact" and is Crockford Base 32 (indicate alphabet and no padding).  This format has properties which make it more compact than the default hex format, but also due to not containing punctuation or case sensitivity still makes it useful in a variety of situations such as file names, URLs, DNS records, and also sorts the same as the binary form.  Since such values do not contain the "-" character they can be reliably discerned from the default hex format if needed.

Furthermore, it is pointed out that there is no restriction on text encodings used by applications which have other needs.  For example an encoding of any base between 2 and (?) can be implemented using the the algorithm shown in Appendix N(link).

---

If did something like the above, there is zero obligation for library authors, we still introduce a recommendation for a "compact" format so people wanting this have guidance and a recommendation (instead of everyone having to then guess which base might be good for them and reason about all of the tradeoffs described above), and also point out that nobody is limited to this and even provide example code with maximum flexibility for those that need it.

I will chime in, as a library author, I would prefer to do a little extra work to bring UUID into a modern format as the one and only format, than backwards compatibility with an inefficient old format. 

Now, I understand I am a unique case, as I have some unpopular opinions on versioning and support, so maybe we should hear others chime in. But, anyone adding support for UUID6/7/8 will already have to do work, adding an encoding method isn't that much extra work.

But anyways, just thought I would chime in and offer a view point of a UUID library maintainer.

@bradleypeabody, I understand the temptation to get rid of the ugly old format, but changing the default format might be considerably difficult (perhaps much more difficult than introducing the new `var`) for existing libraries because it breaks almost all of dependent code. But anyway this is a variation of broader "replacing or extending the original RFC" questions than just the text format issue.

Another topic I'd hear voices is the single vs. multiple alternative format(s) problem. I believe the spec should recommend a base-62ish format in addition to a base-36ish format because of the fact that a considerable number of UUID alternatives did choose base-62ish formats. I think by providing multiple alternatives the spec will be able to satisfy wider needs at a reasonable expense, because it is easy to implement base-62 if a library already implement base-36 or similarly it is easy to implement base-64 if a library already implement base-32. But I would hear honest opinions for this because many people here seem to be against this idea.

For the avoidance of doubt, I would not support an any-base any-alphabet approach. I believe the spec should recommend a couple of alternative formats with specific bases, alphabets and algorithms, so that libraries can work together using the specific formats.

Group,

I implemented the first pass of Alternate encoding section in #85. Please let me know via this thread if I missed a key point or if I need to further iterate on some text.

Also, from here out please use the UUIDv4 example in the text for all base proof of concept work.
This way we are consistently using the same UUID to <insert_base_blah> conversion for illustrative purposes.
UUIDv4 Base Example: `73E94FE0-E951-4153-AAF3-50E4E6089D9D`

@LiosK, @fabiolimace please double check my b32 and b36 example included in the draft PR.

---

Note: I am not against including others like b58, b62, etc. Somebody give the conversion of that UUIDv4 and I will include it. We could even have a neat table in the appendix with that UUIDv4 converted into any ol' base so implementations can quickly verify their conversion/deconversion is working properly.

@liosk writes:

> But anyway this is a variation of broader "replacing or extending the original RFC" questions than just the text format issue.

This issue has had me pondering the whole english vs. metric units debate here in the US.  Two competing formats, the inferior one widely adopted, the new one demonstrably better.  Unfortunately the only thing worse than working in english units is working in english-and-metric combined.  Switching requires navigating a valley of pain that, for the US, has proven too great.

'Kind of feels like we're tap-dancing around a similar problem here.

I'm actually sympathetic to @bradleypeabody's "Crockford32 all the things!" idea.  I would prefer that over the current proposal where we support both (or, worse, multiple) formats.

But such an approach would have to be done as a new RFC that deprecates 4122.  I don't see how else we could do it.  So... is that what we should be doing?  Is it time to just bite the bullet and acknowledge that the Right Solution here is an entirely new RFC? 

(Note: I can't honestly say whether or not I'm saying this in earnest, or as a thinly veiled attempt to shut down this alternate encoding idea.  👿   I do suspect that future generations will look back on this as one of those, "[If only Joseph Dombey had taken a different ship!](https://www.npr.org/sections/thetwo-way/2017/12/28/574044232/how-pirates-of-the-caribbean-hijacked-americas-metric-system)" moments)

Ok, I've been avoiding chiming in, because like I said previously I tend to hold unpopular opinions that I tend to try and ignore for the sake of playing nice with the general programming community and work. But I will try to be more detailed and explain some thoughts.

1. I think @broofa has a good point on what we are trying to achieve and what we are doing with this spec. Are we just extending the old RFC or trying to trely modernize UUID for the future.

If we are trying to just extend, we should honestly drop encodings, the extension stuff, the LUID stuff, etc. We should stick strictly to adding the new UUID versions and their benefits.

If we are truely trying to modernize UUID, we need to take a stronger approach to it and stop being wishy/washy on stuff and just treat this as a new spec that we call UUID Modern or UUID 2.0 or something. The reason UUIDs are falling out of favor is one because of sorting and such, but also encoding and format. The 8-4-4-4-12 encoding is old, inefficient and messy. Especially because of the dashes making things much harder to parse and all the version/variant information that stays static. With a new encoding, that info is there, but encoded into a consistent string like everything else. 

2. It's of my opinion that if library authors choose not to implement it because they are conservative, new libraries will be made and gain popularity. Just because a library isn't supporting it, doesn't mean there is desire to use it by other people, and someone will come in and build it.

Here are my unpopular opinions, and then I will modify them to be more pallettable for everyone:

* Take a hard-line stance and make the changes we want to see, without worrying about backwards compatibility of encoding 

* We want to make an efficient, future proof RFC. While it's impossible to truely future proof, between UUIDv8 and supporting any base encoding, or multiple, we can make this last.

* By that regard, we should require Base2-128 or even 256 support, not just make it optional. It's not hard to implement and there are fast, simple implementations that work well.

Now, I understand there are many conservative developers that will not like this. So maybe a balanced approach would be easier to stomach.

* Split the RFC into 2. One includes UUID6,7,8 similar to the first few drafts. No new encodings, no 7E or LUID.

* In the new modern UUID RFC, add extensions, LUID, force new encodings and jettison the old encoding.

Though this will cause confusion and issues. So maybe stick to just 1 RFC, make a hard-line decision on one new encoding or pair. 

* Choose 1 pair or 1 encoding period. Make it mandatory but don't allow any others so that library developers have more streamlined work.when updating their libraries to support the new encoding.

I dunno, I personally still think we should do only 1 RFC, with all the changes forced, toss any annoying backwards compatibility and go with it. I personally am ready to do the work to update my library. But again, I am a sea of unpopular opinions in development.

Also apologies for poor formatting, wrote this on my phone.



Okay, the multiple alternatives idea is not popular. I don't really stick to this idea, but let me elaborate on it again as my point seems still misread.  I would propose something like the following text:

---

### Text Format 

The canonical text representation of UUID is 8-4-4-4-12 and every implementation MUST support this format. Additionally, implementations SHOULD support the Base-36 format and Base-62 format (see Appendix XX for detailed algorithm). The format used by a UUID string can be detected by the length of textual representation.

---

In this way the spec can define unambiguous data exchange formats (setting variable-length stuff aside) that all the implementations should follow. I have exactly the same opinion as the following @broofa's.

> A Standard should provide a canonical means by which systems interact. The one thing a Standard must do, and do well, is eliminate any ambiguity and uncertainty about how a system should behave.

We're on the same page I believe.

Just one other idea of how we might approach this I wanted to throw out there:

**What if we associated the new combined var-ver field (the 111b variant) with the Crockford base 32 text format?**  I.e. "The canonical text format for UUIDs with variant 10b (versions <= 6) remains 8-4-4-4-12 as per RFC4122.  For the new variant 1110b specified in this document (versions 7 and 8) the canonical text format is Crockford base 32."

This would leave existing implementations as-is but also allow us to switch to Crockford base 32 format for v7 and v8, and have only one canonical format for a given version.  Implementation burden associated with the new versions would be present but minimal.

(@LiosK I think it's fine to mention the idea of encodings in other bases - my opinion is that SHOULD is too strong and alternate encodings are a MAY, but regardless I think a core concept is that since UUIDs should be "as opaque as possible" it also stands to reason that plenty of applications will want to just generate UUIDs and treat them as regular strings from there on, in which case the encoding is solely a matter of application-specific requirements.)

One thing about Crockford's format is that it is not a RFC and also has edge-cases that are not well defined. (I had a conversation about this [here](https://github.com/LinusU/base32-decode/issues/1), referencing a much longer [article](https://merrigrove.blogspot.com/2014/04/what-heck-is-base64-encoding-really.html)) It may be necessary to prepare a proper crockford compatible base32 RFC to reference to.

I think when we refer to Crockfords base32 we only mean his encoding alphabet and order, not the algorithm I think we refer to the RFC4648 algorithm but just use Crockfords alphabet choice. 

@bradleypeabody,

> my opinion is that SHOULD is too strong

You're right! It's my bad I implicitly meant "libraries SHOULD" by "implementations SHOULD". I adjusted the previous comment to clarify this. The updated text is a little bit awkward as a spec text, but it illustrates my intention well.

> UUIDs should be "as opaque as possible"

I agree to this to some extent, but

> plenty of applications will want to just generate UUIDs and treat them as regular strings from there on, in which case the encoding is solely a matter of application-specific requirements

I don't necessarily agree to this. A standard is helpful only when it coordinates multiple implementations to interact and work together. In this sense, the alternative encodings recommended in the spec are not application-specific things. If the spec clearly defines some encodings, then many libraries will implement the encodings in common. In this way, the spec can help multiple libraries and applications talk with each other using the new encodings.

Maybe we could reintroduce the legacy UUID format, next to the 8-4-4-4-12 format, so:
`34dc23469000.0d.00.00.7c.5f.00.00.00` (legacy) and `8a885d04-1ceb-11c9-9fe8-08002b104860`.
This format is specific for Variant#0 and leaves out the reserved field.

Other encodings seem to be out of scope for me, because I think the decision to use other "encodings" is up to the developer. The only requirement should be that there is space for 128 bits.

> What if we associated the new combined var-ver field (the 111b variant) with the Crockford base 32 text format? 

@bradleypeabody Is the implication here that applications should not use 8-4-12 notation in the new versions?  I don't see users responding well to that.  Too many existing DB columns / function signatures / UI widgets are set up for 8-4-12.

Having fun on a weekend morning ....

From the PR4 draft:

> Where required, UUIDs defined by this specification and [RFC4122] **MAY be encoded utilizing new techniques** such as, **but not limited to**, Base32, Base36, or Base64.  Applications MAY also **utilize other encoding techniques** such as modulo division **or alternate alphabets** such as Crockford's base32

Based on the above, I believe the following would all be valid encodings of `08a0c2eb-57c8-4bc5-ae66-1e7e39fd1d99`:

* ⢙⠝⣽⠹⡾⠞⡦⢮⣅⡋⣈⡗⣫⣂⢠⠈
* 𓊉𓐋𓎕𓇅𓊄𓇌𓁊𓁪𓈧𓂷𓎆𓐙𓀄
* 🂹🃖🂱🃟🃙🃘🃇🂧🃆🃙🂺🃑🂫🃁🃜🂵🃋🂫🂬🃈🂨
*   ̸̷̩̲̦͈̹̞̓̓͑̓ͮ̎͗͌̃́͡ 
* 𒐱𒐖𒐿𒐬𒐽𒑰𒑂𒑚𒐺𒑧𒑨𒑐𒐀𒐲𒑝𒐭𒑲𒑛

See https://codepen.io/broofa/pen/ZEJKWOQ?editors=0010 for details.

In reply to a few recent posts:

@broofa 

> Too many existing DB columns / function signatures / UI widgets are set up for 8-4-12.

Unfortunately, you're probably very right about this.  The question would then be if it's too much to ask for implementations doing the work to implement the new var-ver field to be updated.  Probably it is, but just wanted throw it out there.

If this is generally the case, then my position would stay with the idea of keeping 8-4-4-4-12 as the standard, defining one additional format and call it "compact" or something like that, and then also just mention that people can do whatever they want for their own use cases, just don't expect it to be included in every UUID library.

We would basically be telling library authors that their toString() stays the same, we recommend adding compactString(), and if they do then also update parse() to accept either one, and if they don't like that then there's no law against using whatever encoding is convenient for their own application, it just won't be in the UUID library.

@LiosK 

> A standard is helpful only when it coordinates multiple implementations to interact and work together. In this sense, the alternative encodings recommended in the spec are not application-specific things.

I agree but I don't follow how having a bunch of variation in the encoding aligns with this idea (and reading this back again I realize I might be conflating your latest proposal with an earlier one).  But overall, here's the thing I don't understand: Let's say we had a database that implemented several different text formats for UUID, including base32 and base64, and then you have an application which is using these generated IDs.  Your application inserts a new record, which generates a new UUID (let's say for this example the database generated the UUID, although a similar problem exists regardless of where it is created).  Now the app does **"SELECT ID FROM ...".  What format does the application expect to be returned?**  The only answers I can think of that make any sense are:
* A single, specific, standard predefined format (e.g. 8-4-4-4-12).
* It doesn't matter because the application will just use the opaque string.
* Some predetermined format, e.g. specified as an option using a database feature designed for this.  In this case, from my perspective, this is "application specific", because the only way to get this right is for the database and the application to agree ahead of time on which encoding was chosen.

Does it really help to list out a number of different possible formats?  If I am a database vendor that is implementing this, how do I choose with of these various possible encodings I should actually spend time on and implement?  And why is this the database vendor's problem, as opposed to just letting applications use their own language's encoding functions?  Most languages already implement things like base32, base64 and others, so if the application already has to decide ahead of time which encoding to use, would they not be free to use whatever is convenient and available to them? (Like why is base36, mentioned in your text, somehow better than base64?)  What if what is useful to me or available is not one of the ones that we thought to mention in the spec?  Is that now "less valid" than choosing one of the options you've outlined?  I just think there is way too much variation here to expect UUID library authors and databases, etc. to include all of this encoding in each implementation.  And even if we just pick the two that you suggest - base36 and base62, in a way that could easily end up being worse because now everyone making a UUID implementation will feel compelled, but not required to implement these, and users will probably end up using base32 or base64 anyway, just because it's more convenient and familiar, and they won't know what encodings are available on the other side (whatever app we're worried about reading these UUIDs).

I think whatever recommendation is provided for this needs to help answer things like "I am a UUID library author, what encoding(s) should I implement vs leave to the user to figure out?" and the same thing for database vendors, etc.

And I don't understand how we can say that base36 and base62 are somehow a better answer than base32 and base64 or base32hex, or any number of other possible encodings.  Is there a specific analysis here that makes base36 and base62 the optimum choice?

My goal with championing Crockford base32 has been to just introduce one format that is significantly more useful than 8-4-4-4-12, and (hopefully) to do it in a way that doesn't break existing implementations.  I didn't pick Crockford base32 just because I liked it or for one or two specific reasons - my analysis as to why it has the highest utility is outlined above (works in many places - email, DNS, file names, URLs, case insensitive, plus "less swear words", and it can be reliably distinguished from 8-4-4-4-12 regardless of length, and probably a few points above I'm forgetting).

Anyway, sorry the above turned into a bit of rant.  To reel it in, **my specific feedback is, given this text:**

> The canonical text representation of UUID is 8-4-4-4-12 and every implementation MUST support this format. Additionally, implementations SHOULD support the Base-36 format and Base-62 format (see Appendix XX for detailed algorithm). The format used by a UUID string can be detected by the length of textual representation.

**Why two formats, and why those two formats specifically?**  Every format we add is more variation and means people will have to figure out which format was chosen (and telling people to use the length I think is not a good idea because since we're leaving this open ended and what happens if someone uses bas32, or base32hex - you can't tell the difference between those from the length).  And these two base36 and base62 are not common formats, so every library implementor will have to figure out how to deal with this (whereas Crockford base32 is pretty common).

@Daegalus 

> Are we just extending the old RFC or trying to trely modernize UUID for the future.

I think we need to work this back and forth against the proposal instead of trying to answer this by itself.  In an ideal world we would do both with one RFC.  This cannot be accomplished, then we can discuss other options.




> I think we need to work this back and forth against the proposal instead of trying to answer this by itself. In an ideal world we would do both with one RFC. This cannot be accomplished, then we can discuss other options.

This draft SHOULD "**update**" RFC 4122 by adding new versions, like UUIDv6, etc. I have started another draft apart from this repository that describes literally everything about UUID, also things that were not in RFC 4122, but SHOULD have been added back then. That draft will also describe UUIDv6 AFTER publication of this repository (uuid6-ietf-draft) and will "**obsolete**" RFC 4122. I think that is the best way. So, for this draft here, focus on the main purpose of this draft: new versions. Not the other "out-of-scope" shit. I will make an issue in the near future where I will sum up some things.

@ben221199 I think that regardless of how it is organized we should collaborate on the work.  The current draft here definitely has some things that various people think is "out of scope" which I think is "necessary in order to actually make UUIDs useful for modern applications, so if we're not addressing it why are we doing all this work here".  I look forward to your description separately of what you're referring to.

@bradleypeabody Yeah, collaboration is fine, but I think we should seperate things that "update" the spec and things that "obsolete" the spec. I think I will write the first draft of what I have in mind and will show it then. I hope it will be somewhat clear then :)


@bradleypeabody,

> having a bunch of variation in the encoding

> list out a number of different possible formats

I've never meant this. The any-base any-alphabet code I posted was just for illustration of the algorithm. At this stage, I would propose only two specific, concrete, unambiguous alternative formats: a case-insensitive but longer format and a shorter but case-sensitive format. Under this scenario, the spec can easily provide a concrete and unambiguous way to encode and parse multiple UUID formats. Applications that go for other application-specific encodings might face application-specific hassles but that's not what the standard should (or can) address.

Accordingly, most of questions you threw are not really relevant to my point, and other relevant questions to my point are also relevant to your single Crockford32 alternative approach. What does a database return to `SELECT ID FROM ...` if the spec defines the canonical 8-4-4-4-12 and the alternative Crockford32? Currently, database vendors can only return 8-4-4-4-12 because there is no other consensus format to follow, but if the spec defines Crockford32 in addition, then the vendors can provide an option to return Crockford32 and can accept Crockford32 as a valid input in `INSERT` statements. Ultimately, the choice of format is application-specific, but the spec can help provide multiple options in making such a choice, and that is the only sensible way in which the spec can advocate Crockford32 to the real world.

To put it differently, if the spec add one alternative Base-36 format, then UUID libraries will generally support `Base36String()` method and as a result an application will be able to choose the Base-36 format for its application-specific ID. And if the spec add one more alternative Base-62 format, then UUID libraries will generally support `Base62String()` and an application can choose this, too. This is my point. Does the latter Base-62 do a lot of incremental harm? Adding one alternative changes a lot of things already, but adding one more does not change as many things as the first alternative, while it can possibly double the number of customers served. IMO the cost-benefit profiles of "canonical 8-4-4-4-12 + one alternative" approach and "canonical 8-4-4-4-12 + two alternatives" approach are quite similar.

Also, the key problem I want to solve is that currently it is not a trivial task at all for an application to go for a compact UUID format. A modern application can be implemented using multiple languages (e.g. JS/Swift/Kotlin for frontend, Go for backend, SQL for database, Python for log analysis) and it is not an easy job to find right Base-X libraries for all of these languages involved. As you've observed, UUID is generally used as opaque string but I would suspect this practice is just a forced choice due to the difficulty to switch to a right encoding depending on contexts.

> Is there a specific analysis here that makes base36 and base62 the optimum choice?

Actually, I don't have a strong opinion over specific bases or alphabets, so in the proposed text I would actually mean Base-36ish and Base-62ish, but a lot of people have misread this notation as the any-base any-alphabet approach, and thus I tried to be specific there.

That said, I personally believe that Base-36 is better than Base-32 from a library user's point of view just because Base-36 saves one more character, and Base-62 is better than Base-64 just because Base-62 uses alphanumeric characters only. These two benefits are sufficient reasons to push library authors to harder work, but I admit it's just a matter of view point.

> And these two base36 and base62 are not common formats, so every library implementor will have to figure out how to deal with this (whereas Crockford base32 is pretty common).

A little bit different topic, but I think it's an implicit assumption we've been making. I've observed that most of [ULID implementations](https://github.com/ulid/spec#implementations-in-other-languages) implement their own Crockford32 encoder/decoder instead of relying on an external library. Based on this observation and from my experience implementing base36hex in many languages in [my personal project](https://github.com/scru128/spec), I'd speculate that Base-X encoding/decoding is such a small function that library authors feel hesitant to add another external dependency. Therefore, availability of existing implementations might not be an important factor in choosing a right encoding/decoding algorithm, because library authors are likely to implement it from scratch anyway.

@ben221199,

I think _updating RFC 4122_ doesn't mean that no addition of features is permitted. We can add a lot of things to RFC 4122 without obsoleting any of its components. Only a Sith deals in absolutes. We have a bunch of options in between.

@LiosK Okay and thanks for taking the time to write that up and clarify.  I think I understand where you're coming from.

In terms of a specific proposal, it sounds like you're proposing two things: 1. the bases you've selected and 2. having two different alternate encodings (as opposed to just one).  Just to state my concerns on these two:

**Regarding base36 vs base32 crockford**, my main concern is just what is required to implement and how familiar this will/won't be for developers.  Crockford base32 is a lot more well-known and well supported, and can be adapted easily from any base32 encoder.  I think this makes the bar lower in terms of what hoops developers will have to jump through to implement, and I think this is an important concern.

> I'd speculate that Base-X encoding/decoding is such a small function that library authors feel hesitant to add another external dependency

Yeah it's hard to say and varies from language to language.  In Go for example there is a base32 encoder/decoder which supports custom alphabets in the standard library, so there's essentially zero benefit to writing your own. I think the same is true of Python.  But I realize the situation is different in JS and probably some other languages too.

**Regarding adding two more encodings instead of one**, my concern here is making it so library authors can still have a single Parse() function which can reliably deduce the format from the input.  Yes, I know that you can use the length to do this for base36 vs base62, but it seems brittle in the face of UUID Long (yes I know a bunch of people hate this idea and it's a separate subject - please yell at me/others on the appropriate thread about that one).  There is also a bit of a "slippery slope" aspect to each additional encoding that is added - "why not support base32 Crockford AND base36, since we can use the length to distinguish", and so on.  After a decision is made here, it will have to be defended against future reviewers and the IETF.

If we pick just one additional format that is easy for people to implement, the whole thing becomes pretty simple.  The String() method in people's libraries stay the same (8-4-12).  A CompactString() or similar is added.  And Parse() is updated to accommodate the output of CompactString() in addition to String().  (I feel like there's a better name than "compact"...). In the database example from earlier, the database vendor would need to provide an option to send the result back in "compact" format, but at least any Parse() function that is updated to match the spec can reliably receive either text format - I think this property goes a long way toward making this approach work.

If we could deprecate the old format, that in some ways we be ideal, but do I think it's too big of a change and could easily harm adoption more than it helped by declaring every existing implementation as deprecated - as opposed to an improvement that can be implemented by library authors as time allows. Deprecating things in RFC4122 I suspect will also reduce the odds of this new spec making to an RFC.


@LiosK 
> I think updating RFC 4122 doesn't mean that no addition of features is permitted. We can add a lot of things to RFC 4122 without obsoleting any of its components. Only a Sith deals in absolutes. We have a bunch of options in between.

When updating an RFC, it adds things to the specification. Take a look at RFC 3501 for IMAP 4rev1. It describes the whole IMAP protocol. It is UPDATED by some other RFCs, that describe extensions, and it is OBSOLETED by one other RFC, that describes the whole IMAP protocol again, but IMAP 4rev2. I think we should do something similar here.

@bradleypeabody,

I understand your point. I don't mean to stick to my idea and I'm willing to follow the consensus. I've just believed that the two alternatives approach is one viable option that the new RFC can take and wanted it to be put on the table correctly understood.

A couple of technical points:

> it seems brittle in the face of UUID Long

I believe alternative formats can work with the variable-length strategy if designed carefully, but they definitely constrain each other. They are in a trade-off relationship; we might be forced to make an exclusive choice. We have to carefully choose which group of customers to serve, and as a result I am against the variable-length idea.

> Crockford base32 is a lot more well-known and well supported

Base-62 is tricky, but JS/Java/Rust have native encoding/decoding support for Base-36 and Python have native decoding support. JS/Rust/Python do not even require an `import` statement. We can also find [some hidden efforts](https://github.com/apple/swift/blob/main/test/Prototypes/BigInt.swift) by Swift developers. In JS, for example, Base-36 requires literally zero effort because the following one line perfectly works:

```javascript
0x0622e7c2_d01a_7d65_8fe3_f57b68c36204n.toString(36).padStart(25, "0");
```

Base-36 tends to be implemented as part of BigInt operations and thus it's more widely available than you believe (than Crockford32 I guess). Base-36 sounds more prominent to me based on your argument.

Anyway, Base-X encoding/decoding needs only a hundred lines of code and I just feel like working for library users rather than authors.

@ben221199,

We can add new versions to RFC 4122 without obsoleting it, and similarly we can add new text formats to RFC 4122 without obsoleting it, can't we?

@LiosK 
> We can add new versions to RFC 4122 without obsoleting it, and similarly we can add new text formats to RFC 4122 without obsoleting it, can't we?

Yes, we can add new versions without obsoleting RFC 4122. So, we are "updating" it. Text formats should be able too, but should think enough about the purpose of new text formats of course.

The draft I'm writing in another repository at the moment is planned to "obsolete" RFC 4122, because the specification describes already existing variants and versions AND could/will (maybe) have new ones that are described in this one.

Here is a post that explains it a little bit and ironically points to RFCs defining the terms: https://stackoverflow.com/questions/32873577/whats-the-difference-between-obsoletes-and-updates-in-rfcs

I am convinced that JSON is a much more flexible and convenient message format than URN. See https://github.com/uuid6/uuid6-ietf-draft/issues/59#issuecomment-1067259829

# Announcement
I had a great discussion with @bradleypeabody and this topic has officially been marked `out of scope` for Draft 03 (and any future draft.)
The XML text is retained and over the next few weeks I will author a separate Draft 00 which includes this topic specifically.

For now please focus on the technical challenges proposed by my previous comment: https://github.com/uuid6/uuid6-ietf-draft/issues/2#issuecomment-1066866987

Group, 

Following the previous announcement I have drafted up a new RFC Draft document to cover this topic.

Since the discussions threads are in this repo I decided to create new folder for the topic. 
Github Pages picks up the folder nicely and thus Draft 00 of "New UUID Encoding Techniques" can be found here:
- HTML: https://uuid6.github.io/uuid6-ietf-draft/new-encoding-techniques/
- TXT: https://raw.githubusercontent.com/uuid6/uuid6-ietf-draft/master/new-encoding-techniques/draft-davis-peabody-dispatch-new-uuid-encoding-techniques-00.txt
---

Additionally, I have authored an "Extended UUID URN namespace" for conveying encoding type and length of a UUID to other applications defined by this document. I still have more research on URNs to do but I feel confident enough the proposed URN is backwards compliant with RFC4122 and also compatible with RFC8141.

---

Personal Note: I do think "inclusive vs exclusive" is the best way to ensure the there we benefit as many folks as possible. If we can solve the problem of conveying the encoding type (and length for UUID Long) then I believe we give implementers a tremendous ammount of power they did not have before.

That being said, as always, I look forward to your responses bring up issues, problems, caveats, and things to think about based on your point of view!